server:
  port: 8080

spring:
  application:
    name: authpolicy-service
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}"

opa:
  url: http://opa:8181/v1/data/nebula/authz

grpc:
  server:
    port: 9090

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
